.carouselText {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width: 41%;
  float: right;
}

body {
  background-color: #333A56;
}

.btn, .btn-large {
  background-color: #52658F
}

.carousel-caption {
  top: 9%;
  width: 50%;
  height: 100px;
  margin: auto;
  border: 0;
  padding: 0;
}

.carouselDiv {
  width: 50%;
  margin: auto;
}

.carouselImg {
  width: 55%;
  height: 390px;
  border-radius: 50%;
  margin: 5px auto;
  margin-left: 50px;
  border: 1px solid white;
}

.carousel-indicators {
  left: 49%;
}

.carousel-indicators .active {
  background-color: silver;
}

.carousel-indicators li {
  margin: auto;
  border: 1px solid white;
}

.carouselRow {
  margin-bottom: 0;
}

#contactMe {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

.contact-info {
  width: 80%;
  margin: auto;
}

#email {
  padding-bottom: 12px;
  padding-top: 7px;
  font-size: 3rem;
}

.emailForm {
  background: #F7F5E6;
}

.emailForm .jumbotron {
  width: 80%;
  margin: auto;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #F7F5E6;
}

label {
  font-size: 2rem !important;
  text-align: center;
}

.material-icons {
  size: 60% !important;
}

.navbar {
  margin-bottom: 0;
  background-color: #333A56;
}

.page-footer {
  background-color: #333A56;
}

#skills_img {
  width: 80%;
  height: 400px;
  margin: auto;
}

textarea.materialize-textarea {
  font-size: 3rem;
}

#yourMessage {
  padding-bottom: 5px;
}

.input-field input[type=email]:not(.browser-default):focus:not([readonly])+label {
  color: #333A56;
}

textarea.materialize-textarea:focus:not([readonly])+label {
  color: #333A56;
}

.test3{
  border: 1px solid white;
  margin: 10px;
  height: 10%
}
.test4{
  margin: 10px;
}

@media only screen and (min-device-width: 100px) and (max-device-width: 599px) and (-webkit-min-device-pixel-ratio: 2) {
  .carouselImg {
    width: 100%;
    height: 400px;
    width: 100% !important;
  }
  .carousel-caption {
    top: 76% !important;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: auto;
  }
  .carouselText {
    color: green;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    width: 100% !important;
  }
}

@media only screen and (max-width: 1365px) {
  .carousel-caption {
    top: 9%;
    width: 60%;
    height: 100px;
    margin: auto;
    padding: 0;
  }
  .carouselText {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    width: 41%;
    float: right;
  }
  .carouselDiv {
    width: 65%;
  }
  .carouselImg {
    width: 50%;
    height: 390px;
    border-radius: 50%;
    margin: 5px auto;
  }
}

@media only screen and (max-width: 1204px) {
  .carousel-caption {
    top: 9%;
    width: 60%;
    height: 100px;
    margin: auto;
    padding: 0;
  }
  .carouselText {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    width: 41%;
    float: right;
  }
  .carouselDiv {
    width: 65%;
  }
  .carouselImg {
    width: 55%;
    height: 390px;
    border-radius: 50%;
    margin: 5px auto;
  }
}

@media only screen and (max-width: 1009px) {
  .carousel-caption {
    top: 9%;
    width: 71%;
    height: 100px;
    margin: auto;
    padding: 0;
  }
  .carouselText {
    color: #F7F5E6;
    text-shadow: 2px 2px 4px #000000;
    width: 51%;
    float: right;
  }
  .carouselDiv {
    width: 80%;
  }
  .carouselImg {
    width: 58%;
    height: 390px;
    border-radius: 50%;
    margin: 5px auto;
  }
}

@media only screen and (min-device-width: 600px) and (max-width: 767px) {
  .carousel-caption {
    top: 76%;
    width: 70%;
    height: 100px;
    padding: 0;
    margin: auto;
  }
  .carouselText {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
  }
  .carouselDiv {
    width: 90%;
  }
  .carouselImg {
    width: 70%;
    height: 390px;
    border-radius: 50%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 1010px) {
  .carouselText {
    font-size: 47px;
    width: 53%;
    /* border: 1px solid; */
  }
  .carousel-caption {
    /* border: 1px solid; */
    width: 67%;
  }
}

@media only screen and (min-width: 1500px) {
  .carouselText {
    font-size: 47px;
    width: 65%;
    /* border: 1px solid; */
  }
  .carousel-caption {
    /* border: 1px solid; */
    width: 70%;
  }
}
