body{
  /* background-color: green; */
}

.navbar {
  margin-bottom: 0;
}
/*
#profile_img{
  width: 30%;

} */

.container-fluid{
  border: 1px solid red;
}

.carousel-indicators .active{
  background-color: blue;
}
.carousel-indicators li{
  border: 1px solid black;
}

.jumbotron {
  margin-bottom: 0;
}
